{% extends 'base.html.twig' %}


{% block title%}Tender List{% endblock %}

{% block body%}
<div ng-controller="tenderListController">
    <h1>Tender List</h1>
    <div class="card" style="margin: 10px">
        <div class="card-body" style="width:100%">
            <h5 class="card-title">Create Tender</h5>
            <div class="card-body" style="width:100%">
                <div>
                    <input type="text" ng-model="createTitle" style="margin-bottom: 10px" placeholder="Title" /><br/>
                    <textarea ng-model="createDescription" rows="4" cols="50" placeholder="Description"></textarea><br/>
                    <button ng-click="Create()">Create</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="tender in tenders">
            <div class="card" style="margin: 10px">
                <div class="card-body" style="width:100%">
                    <h5 class="card-title">[[ tender.title ]]</h5>
                    <p class="card-text">[[ tender.description ]]</p>
                    <button ng-click="editForm = !editForm">Edit</button>
                    <button ng-click="Delete([[ tender.id ]])">Delete</button>
                    <div class="card-body" style="width:100%" ng-show="editForm">
                        <div>
                            <input type="text" ng-value="tender.title" ng-model="title" style="margin-bottom: 10px" /><br/>
                            <textarea ng-model="description" rows="4" cols="50" ng-value="tender.description"></textarea><br/>
                            <button ng-click="Update([[ tender.id ]])">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
